<div id="conteudo">
    <div id="menu_esquerdo">
    <div id="Do-Re-Mi">Categorias</div><!-- fim Do-Re-Mi -->
      <div id="violao">
        	<ul class="v">
            	<h3><a href="/res/site/violao.php" title="Violão">Violão</a></h3>
                <li><a href="/res/site/#" title="Violão Ac&uacute;stico de a&ccedil;o">Violão Ac&uacute;stico de a&ccedil;o</a></li>
                <li><a href="/res/site/#" title="Viol&atilde;o El&eacute;trico de a&ccedil;o">Viol&atilde;o El&eacute;trico de a&ccedil;o</a></li>
                <li><a href="/res/site/#" title="Viol&atilde;o El&eacute;trico Nylon">Viol&atilde;o El&eacute;trico Nylon</a></li>
                <li><a href="/res/site/#" title="Viol&atilde;o Ac&uacute;stico Nylon">Viol&atilde;o Ac&uacute;stico Nylon</a></li>
                <li><a href="/res/site/#" title="Viol&atilde;o Canhoto">Viol&atilde;o Canhoto</a></li>
            </ul><!-- fim do v -->
      </div><!-- fim do violao -->
      
      <div id="guitarra">
            	<ul class="v">
                    <h3><a href="/res/site/guitarra.php" title="Guitarra">Guitarra</a></h3>
                    <li><a href="/res/site/#" title="Guitarra Stratocaster">Guitarra Stratocaster</a></li>
                    <li><a href="/res/site/#" title="Guitarra Les Paul">Guitarra Les Paul</a></li>
                    <li><a href="/res/site/#" title="Guitarra Sg">Guitarra Sg</a></li>
                    <li><a href="/res/site/#" title="Guitarra Semiac&uacute;stica">Guitarra Semiac&uacute;stica</a></li>
                    <li><a href="/res/site/#" title="Guitarra Telecaster">Guitarra Telecaster</a></li>
                </ul>
      </div><!-- fim da guitarra -->  
      
      <div id="bateria">
            	<ul class="v">
                    <h3><a href="/res/site/bateria.php" title="Bateria">Bateria e percurs&atilde;o</a></h3>
                    <li><a href="/res/site/#" title="Bateria Ac&uacute;stica">Bateria Ac&uacute;stica</a></li>
                    <li><a href="/res/site/#" title="Pandeiro">Pandeiro</a></li>
                    <li><a href="/res/site/#" title="Bateria Eletr&ocirc;nica">Bateria Eletr&ocirc;nica</a></li>
                    <li><a href="/res/site/#" title="Percus&atilde;o">Percus&atilde;o</a></li>
                    <li><a href="/res/site/#" title="Acess&oacute;rios para baterias">Acess&oacute;rios para baterias</a></li>
                </ul>
      </div><!-- fim da bateria --> 
      
      <div id="teclas">
            	<ul class="v">
                    <h3><a href="/res/site/teclas.php" title="Instrumentos de teclas">Instrumentos de teclas</a></h3>
                    <li><a href="/res/site/#" title="Piano Digital">Piano Digital</a></li>
                    <li><a href="/res/site/#" title="Pioano Ac&uacute;stico">Pioano Ac&uacute;stico</a></li>
                    <li><a href="/res/site/#" title="Teclado sintetizador">Teclado sintetizador</a></li>
                    <li><a href="/res/site/#" title="Piano Infantil">Piano Infantil</a></li>
                    <li><a href="/res/site/#" title="Acess&oacute;rios para teclas">Acess&oacute;rios para teclas</a></li>
                </ul>
      </div><!-- fim da teclas --> 
      
      <div id="sopro">
            	<ul class="v">
                    <h3><a href="/res/site/sopro.php" title="Instrumentos de sopro">Instrumentos de sopro</a></h3>
                    <li><a href="/res/site/#" title="Sax alto">Sax alto</a></li>
                    <li><a href="/res/site/#" title="Flauta Transversal">Flauta Transversal</a></li>
                    <li><a href="/res/site/#" title="Sax Tenor">Sax Tenor</a></li>
                    <li><a href="/res/site/#" title="Trompete">Trompete</a></li>
                    <li><a href="/res/site/#" title="Trombone">Trombone</a></li>
                </ul>
      </div><!-- fim da sopro -->   
    </div><!-- fim do menu_esquerdo -->
    <div id="conteudo_central">
    <div class="catHome">Home</div><!-- fim catHome -->
		<div id="v1">
              <div class="camada1">
                <a href="/res/site/violao-acustico-giannini.php" title="Viol&atilde;o Ac&uacute;stico Giannini S14 A&ccedil;o – Preto"><img src="/res/site/img/violao/v1.jpg" width = "200px" height = "200px"/></a>
              </div><!-- fim da camada1 -->
              <div class="info">
                <a href="/res/site/violao-acustico-giannini.php">Viol&atilde;o Ac&uacute;stico Giannini S14 A&ccedil;o – Preto</a>
              </div><!-- fim da info -->
              <div class="preco">
              <p align="left" style="color:#930;font-size:18px">por R$ 199,00</p>
              <p align="left" style="color:#000;font-size:14px">3x de R$ 66,33 sem juros ou R$ 179,10 no boleto
              </div><!-- fim do preco -->
        </div><!-- fim do v1 -->
   	  <div id="v2">
      		  <div class="camada1">
                <a href="/res/site/violao-acustico-ashland.php" title="Violão Acústico Ashland"><img src="/res/site/img/violao/v2.jpg" width = "200px" height = "200px"/></a>
              </div><!-- fim da camada1 -->
              <div class="info">
                <a href="/res/site/violao-acustico-ashland.php" title="Violão Acústico Ashland">Violão Acústico Ashland Ac10 Nt By Crafter Com Cordas de Nylon</a>
              </div><!-- fim da info -->
              <div class="preco">
              <p align="left" style="color:#930;font-size:18px">por R$ 249,00</p>
              <p align="left" style="color:#000;font-size:14px">4x de R$ 62,25 sem juros ou R$ 224,10 no boleto
              </div><!-- fim do preco -->
      	</div><!-- fim do v2 -->
      <div id="v3">
        	  <div class="camada1">
                <a href="/res/site/guitarra-ibanez.php" title="Guitarra Ibanez Rg2550z Prestige"><img src="/res/site/img/guitarra/g1.jpg" width = "200px" height = "200px"/></a>
              </div><!-- fim da camada1 -->
              <div class="info">
                <a href="/res/site/guitarra-ibanez.php">Guitarra Ibanez Rg2550z Prestige</a>
              </div><!-- fim da info -->
              <div class="preco">
              <p align="left" style="color:#930;font-size:18px">por R$ 5.249,00</p>
              <p align="left" style="color:#000;font-size:14px">10x de R$ 524,90 sem juros ou R$ 4.724,10 no boleto
              </div><!-- fim do preco -->
        </div><!-- fim do v3 -->
        <div id="v4">
        	  <div class="camada1">
                <img src="/res/site/img/bateria/b1.jpg" width = "200px" height = "200px"/>
              </div><!-- fim da camada1 -->
              <div class="info">
                Bateria Michael Dm832l Na Com Bumbo de 20” – Natural
              </div><!-- fim da info -->
              <div class="preco">
              <p align="left" style="color:#930;font-size:18px">por R$ 2.346,00</p>
              <p align="left" style="color:#000;font-size:14px">10x de R$ 234,60 sem juros ou R$ 2.111,60 no boleto
              </div><!-- fim do preco -->
        </div><!-- fim da v4 -->
        <div id="v5">
        	  <div class="camada1">
                <img src="/res/site/img/teclas/t6.jpg" width = "200px" height = "200px"/>
              </div><!-- fim da camada1 -->
              <div class="info">
                Teclado Sintetizador Kurzweil Pc3le6 Azul – 61 Teclas
              </div><!-- fim da info -->
              <div class="preco">
              <p align="left" style="color:#930;font-size:18px">por R$ 6.142,00</p>
              <p align="left" style="color:#000;font-size:14px">10x de R$ 614,20 sem juros ou R$ 5.527,80 no boleto
              </div><!-- fim do preco -->
        </div><!-- fim do v5 -->
        <div id="v6">
        	  <div class="camada1">
                <img src="/res/site/img/bateria/b3.jpg" width = "200px" height = "200px"/>
              </div><!-- fim da camada1 -->
              <div class="info">
                Bateria Eletrônica Roland Td4kp V-drums - Portátil
              </div><!-- fim da info -->
              <div class="preco">
              <p align="left" style="color:#930;font-size:18px">por R$ 3.999,00</p>
              <p align="left" style="color:#000;font-size:14px">10x de R$ 399,90 sem juros ou R$ 3599,10 no boleto
              </div><!-- fim do preco -->
        </div><!-- fim do v6 -->
        <div id="v7">
        	  <div class="camada1">
                <img src="/res/site/img/teclas/t1.jpg" width = "200px" height = "200px"/>
              </div><!-- fim da camada1 -->
              <div class="info">
                Piano Digital Yamaha Clp465gp
              </div><!-- fim da info -->
              <div class="preco">
              <p align="left" style="color:#930;font-size:18px">por R$ 17.329,00</p>
              <p align="left" style="color:#000;font-size:14px">10x de R$ 1.732,90 sem juros ou R$ 15.596,10 no boleto
              </div><!-- fim do preco -->
        </div><!-- fim do v7 -->
        <div id="v8">
        	  <div class="camada1">
                <img src="/res/site/img/sopro/s1.jpg" width = "200px" height = "200px"/>
              </div><!-- fim da camada1 -->
              <div class="info">
                Sax Alto Eagle Sa501
              </div><!-- fim da info -->
              <div class="preco">
              <p align="left" style="color:#930;font-size:18px">por R$ 1.899,00</p>
              <p align="left" style="color:#000;font-size:14px">10x de R$ 189,90 sem juros ou R$ 1.709,10 no boleto
              </div><!-- fim do preco -->
        </div><!-- fim do v8 -->
        
    </div><!-- fim do conteudo_central -->
  </div> <!-- fim do conteúdo -->